.btn {
	background: rgba(255,255,255,0.075);
	padding: 0 25px;
	color: @white;
	text-transform: uppercase;
	font-family: @sans;
	font-size: 12px;
	letter-spacing: 3px;
	line-height: 30px;
	height: 30px;

	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}
